.uk-navbar-attached {
  border: 0 !important;
  border-radius: 0 !important;
  background: #001f3d;
  color: #fff;
  text-shadow: none; }
  .uk-navbar-attached .uk-navbar-brand {
    padding-left: 0;
    text-shadow: none !important;
    color: #fff; }
  .uk-navbar-attached .uk-navbar-nav > li > a {
    color: #fff !important;
    text-shadow: none !important; }
    .uk-navbar-attached .uk-navbar-nav > li > a:active {
      background-color: none; }
  .uk-navbar-attached .uk-navbar-nav > li.active > a {
    background: #0f7595; }
  .uk-navbar-attached .uk-dropdown a {
    color: #000 !important; }
    .uk-navbar-attached .uk-dropdown a:hover {
      background: #001f3d;
      color: #fff !important; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; }

.main-content {
  padding: 20px 0;
  min-height: 700px; }

.footer {
  padding-top: 40px;
  color: #000; }
  .footer .uk-text-center {
    padding-top: 30px;
    border-top: 2px solid #999; }

.uk-table td {
  vertical-align: middle;
  font-size: 16px; }

.toolbar {
  margin-bottom: 20px; }

#photos .uk-thumbnail {
  overflow: hidden;
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px; }
  #photos .uk-thumbnail .uk-thumbnail-caption {
    width: 146px;
    overflow: hidden; }
  #photos .uk-thumbnail i {
    cursor: pointer;
    font-size: 22px;
    color: red;
    position: absolute;
    right: 15px;
    top: 15px; }

i.status {
  color: red;
  font-size: 22px; }
  i.status.active {
    color: green; }

.toast-message ul {
  padding-left: 18px; }

.chosen-container-multi .chosen-choices {
  border: 1px solid #DDD;
  border-radius: 4px; }
