.uk-navbar-attached {
  padding: 10px 0;
  border: 0 !important;
  border-radius: 0 !important;
  background: #fff;

  color: #fff;
  text-shadow: none;
  .uk-navbar-brand {
    padding-left: 0;
    text-shadow: none !important;
    color: #fff;
  }
  .uk-navbar-nav {
    > li {
      margin-right:5px;
      > a {
        color: #000 !important;
        text-shadow: none !important;
        border-radius: 4px !important;
        &:active {
          background-color: #9F4997;
          color: #fff;
        }
        &:hover,&:focus{
          background: rgba(11, 65, 117, 0.38);
          box-shadow: none;
        }
      }
      &.active{
        >a{
          background-color: #9F4997;
          color: #fff !important;
        }
      }
    }
  }

  .uk-dropdown {
    a {
      color: #000 !important;
      &:hover {
        background: hsl(210, 100%, 12%);
        color: #fff !important;
      }
    }
  }
}